<div class="wrapper-page animated fadeInDown">

  <div class="ex-page-content animated flipInX text-center">
      <h1>404</h1>
      <h2 class="font-light">Sorry, page not found</h2><br>
      <p>You better try our awesome search:</p>
      <div class="row">
          <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Search</button>
                </span>
          </div>
      </div><br>
      <a class="btn btn-purple" href="/"><i class="fa fa-angle-left"></i> Back to home page</a>
  </div>
    
</div>