<section ng-controller="AddCourseController">
	<section class="m-t-20 m-b-30">
    <div class="container">
      <h3 class="text-page m-b-30"><strong>Add Course</strong></h3>
      <div class="panel padd-min">
        <div class="panel-heading">
          <h3 class="text-page m-l-15 m-t-15 m-b-0"><strong>Create a new course</strong></h3>
        </div>
          
        <div class="panel-body">
          <div class=" form">
            <form class="cmxform form-horizontal tasi-form" id="commentForm" novalidate>
              <div class="container-fluid">
                <div class="form-group">
                  <div class="col-lg-2">
                    <div class="m-l-10 m-r-10">
                      <label for="ctitle" class="control-label text-left text-page">Course Title</label>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <div class="m-l-10 m-r-10">
                      <input class=" form-control" id="ctitle" name="name" type="text" required="" aria-required="true" placeholder="Some text value..." ng-model="course.name">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-2">
                    <div class="m-l-10 m-r-10">
                      <label for="cdescription" class="control-label text-left text-page">Course Description</label>
                    </div>
                  </div>
                  <div class="col-lg-10">
                    <div class="m-l-10 m-r-10">
                      <textarea class=" form-control" id="cdescription" name="name" type="text" required="" aria-required="true" placeholder="Some text value..." ng-model="course.description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="white-space m-t-30 m-b-30">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="sr-only">Empty Space</span>
                    </div>
                  </div>
                </div>
                <div class="white-space m-t-30 m-b-30">
                  <div class="row">
                    <div class="col-xs-12">
                      <span class="sr-only">Empty Space</span>
                    </div>
                  </div>
                </div>
                <div class="m-l-5 m-r-5">
                  <div class="row">
                    <div class="col-xs-4">
                      <input type="button" name="submit-btn" value="Back" class="btn btn-primary m-b-10 w-sm" ng-click="back()">
                    </div>
                    <div class="col-xs-8 text-right">
                      <input type="button" name="submit-btn" value="Cancel" class="btn btn-primary m-b-10 w-sm" ng-click="back()">
                      <input type="button" name="submit-btn" value="Next" class="btn btn-primary m-b-10 w-sm m-l-10" ng-click="next()">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
