<section ng-controller="AdminController">
	<section class="m-t-20 m-b-30">
		<div class="container">
			<h2 class="text-page m-b-30">
				<strong>GLOBAL ADMINISTATION</strong>
			</h2>
			<ul class="nav nav-tabs nav-justified">
				<li class="active">
					<a href="#courses" data-toggle="tab" aria-expanded="true">
						<strong class="text-page">Courses</strong>
					</a>
				</li>
				<li class="">
					<a href="#organization" data-toggle="tab" aria-expanded="false">
						<strong class="text-page">Tutor/Organization</strong>
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="courses">
					<div class="text-right m-b-30">
						<a href="/add-course" class="btn btn-primary w-sm">Add Course</a>
					</div>
					<div class="table-responsive">
						<table class="table text-page">
							<thead>
								<tr>
									<th></th>
									<th>Course Title</th>
									<th>Lessons</th>
									<th>Videos</th>
									<th>Entrolled Students</th>
									<th></th>
								</tr>
							</thead>
							<tr ng-repeat = "course in courses">
								<td>
									<label class="cr-styled">
										<input type="checkbox">
										<i class="fa"></i>
									</label>
								</td>
								<td>
									<strong>{{course.name}}</strong>
								</td>
								<td>
									<strong>{{getLessonsCount($index)}}</strong>
								</td>
								<td>
									<strong>{{getVideosCount($index)}}</strong>
								</td>
								<td>
									<strong>{{getEnrolledStudentsCount($index)}}</strong>
								</td>
								<td class="text-right">
									<a href="javascript:void(0)" class="btn w-xs btn-sm btn-primary" ng-click="editCourse(course._id)">Edit</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="tab-pane" id="organization">
					<div class="text-right m-b-30">
						<a href="/add-organization" class="btn btn-primary w-sm">Add Organization</a>
					</div>
					<div class="table-responsive">
						<table class="table text-page">
							<thead>
								<tr>
									<th></th>
									<th>Organization</th>
									<th>First Name</th>
									<th>Last Name</th>
									<th>Phone</th>
									<th>Email</th>
									<th>Students</th>
									<th>Last Logon</th>
									<th></th>
								</tr>
							</thead>
							<tr ng-repeat = "tutor in tutors">
								<td>
									<label class="cr-styled">
										<input type="checkbox">
										<i class="fa"></i>
									</label>
								</td>
								<td>
									<strong>{{tutor.company}}</strong>
								</td>
								<td>
									<strong>{{tutor.firstName}}</strong>
								</td>
								<td>
									<strong>{{tutor.lastName}}</strong>
								</td>
								<td>
									<strong>{{tutor.phoneNumber}}</strong>
								</td>
								<td>
									<strong>{{tutor.email}}</strong>
								</td>
								<td>
									<strong>23</strong>
								</td>
								<td>
									<strong>31/12/16</strong>
								</td>
								<td class="text-right">
									<a href="javascript: void(0)" class="btn w-xs btn-sm btn-primary" ng-click="editOrganization(tutor._id)">Edit</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
  </section>
</section>
