<section ng-controller="EditCourseController">
	<section class="m-t-20 m-b-30">
    <div class="container">
      <h3 class="text-page m-b-30"><strong>Edit Course</strong></h3>
      <div class="panel padd-min">
        <div class="panel-heading">
          <h3 class="text-page m-l-15 m-t-15 m-b-0"></h3>
        </div>
          
        <div class="panel-body">
            <div class=" form">
                <form class="cmxform form-horizontal tasi-form" id="commentForm" method="get" action="#" novalidate="novalidate">
                    <div class="container-fluid">
                        
                        <div class="form-group">
                            <div class="col-lg-2">
                                <div class="m-l-10 m-r-10">
                                    <label for="ctitle" class="control-label text-left text-page">Course Title</label>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="m-l-10 m-r-10">
                                    <input class="text-page form-control" id="ctitle" name="ctitle" type="text" required="" aria-required="true" value="Fire Safety">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-2">
                                <div class="m-l-10 m-r-10">
                                    <label for="cdescription" class="control-label text-left text-page">Course Description</label>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="m-l-10 m-r-10">
                                    <textarea class="page-color text-page form-control" id="cdescription" name="cdescription" type="text" required="" aria-required="true" value="A course regarding fire safety in the work place.">A course regarding fire safety in the work place.</textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr class="m-t-10 m-b-25">
                    <div class="m-l-5 m-r-5">
                            <div class="row">
                               
                                <div class="col-xs-12 text-right">
                                    <input type="submit" name="submit-btn" value="Add Lesson" class="btn btn-primary m-b-10 w-sm">
                                </div>
                            </div>
                        </div>
                    <div class="container-fluid">
                        <div class="table-responsive">
                            <table class="table text-page">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Lesson Name</th>
                                        <th>Video Count</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                    
                                
                                <tr>
                                    <td>
                                        <label class="cr-styled">
                                            <input type="checkbox">
                                            <i class="fa"></i>
                                        </label>
                                    </td>
                                    <td>
                                        <strong>First Aid</strong>
                                    </td>
                                    <td>
                                        <strong>1</strong>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" class="btn w-sm btn-md btn-primary">Edit</a>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <label class="cr-styled">
                                            <input type="checkbox">
                                            <i class="fa"></i>
                                        </label>
                                    </td>
                                    <td>
                                        <strong>Kitchen Hazards</strong>
                                    </td>
                                    <td>
                                        <strong>2</strong>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" class="btn w-sm btn-md btn-primary">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="cr-styled">
                                            <input type="checkbox">
                                            <i class="fa"></i>
                                        </label>
                                    </td>
                                    <td>
                                        <strong>Common Sense</strong>
                                    </td>
                                    <td>
                                        <strong>2</strong>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" class="btn w-sm btn-md btn-primary">Edit</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="cr-styled">
                                            <input type="checkbox">
                                            <i class="fa"></i>
                                        </label>
                                    </td>
                                    <td>
                                        <strong>Dealing with fire</strong>
                                    </td>
                                    <td>
                                        <strong>5</strong>
                                    </td>
                                    <td class="text-right">
                                        <a href="#" class="btn w-sm btn-md btn-primary">Edit</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                            
                        <div class="white-space m-t-30 m-b-30">
                            <div class="row">
                                <div class="col-xs-12">
                                    <span class="sr-only">Empty Space</span>
                                </div>
                            </div>
                        </div>
                        <div class="m-l-5 m-r-5">
                            <div class="row">
                                <div class="col-xs-4">
                                    <input type="submit" name="submit-btn" value="Back" class="btn btn-primary m-b-10 w-sm">
                                </div>
                                <div class="col-xs-8 text-right">
                                    <input type="submit" name="submit-btn" value="Cancel" class="btn btn-primary m-b-10 w-sm">
                                    <input type="submit" name="submit-btn" value="Save" class="btn btn-primary m-b-10 w-sm m-l-10">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </section>
</section>
