<section ng-controller="LessonCompletedController">
	<section class="m-t-20 m-b-30">
    <div class="container">
      <h2 class="text-page m-b-30"><strong>Fire Safety</strong></h2>
      <div class="panel panel-default text-page text-center  padd-min">
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        <h3 class="page-text">
          <strong>You have  successfully the Fire and Safety Course</strong>
        </h3>
        <h3>
          <strong>You scored 96%</strong>
        </h3>
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        <div class="white-space m-t-30 m-b-30">
          <div class="row">
            <div class="col-xs-12">
              <span class="sr-only">Empty Space</span>
            </div>
          </div>
        </div>
        <div class="m-l-5 m-r-5">
          <div class="row">
            <div class="col-xs-7 text-left">
              <input type="submit" name="submit-btn" value="Your Results" class="btn btn-primary m-b-10 w-sm m-l-10">
        		</div>
          	<div class="col-xs-5 text-right">
            	<input type="submit" name="submit-btn" value="Finish" class="btn btn-primary m-b-10 w-sm" ng-click="finish()">
            </div>
          </div>
        </div>
      </div>
    </div>   
  </section>
</section>
