<section class="row" ng-controller="PasswordController">
  <div class="wrapper-page animated fadeInDown">
      <div class="panel panel-color panel-primary">
          <div class="panel-heading"> 
             <h3 class="text-center m-t-10">Reset Your Password</h3>
          </div> 

          <form name="resetPasswordForm" ng-submit="resetUserPassword(resetPasswordForm.$valid)" class="signin form-horizontal m-t-40" novalidate autocomplete="off">                                      
              <div class="form-group ">
                  <div class="col-xs-12">
                    <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" autocomplete="new-password" popover="{{popoverMsg}}" popover-trigger="focus" popover-placement="top" placeholder="New Password" password-validator required>
                    <!-- <div ng-messages="resetPasswordForm.newPassword.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Enter a new password.</p>
                      <div ng-repeat="passwordError in passwordErrors">
                        <p class="help-block error-text" ng-show="resetPasswordForm.newPassword.$error.requirements">{{passwordError}}</p>
                      </div>
                    </div> -->
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" password-verify="passwordDetails.newPassword" placeholder="Confirm Password" required>
                    <!-- <div ng-messages="resetPasswordForm.verifyPassword.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
                      <p class="help-block error-text" ng-show=resetPasswordForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
                    </div> -->
                  </div>
              </div>
                                
              <div class="form-group text-right">
                  <div class="col-xs-12">
                      <button class="btn btn-purple w-md" type="submit">Reset</button>
                  </div>
              </div>
          </form>

      </div>
  </div>
</section>