<div ng-controller="AuthenticationController">
  <div class="wrapper-page animated fadeInDown">
    <div class="panel panel-color panel-primary">
      <div class="panel-heading"> 
        <h3 class="text-center m-t-10"> Sign In</h3>
      </div>
      <form novalidate name="userForm" ng-submit="signin(userForm.$valid)" class="form-horizontal m-t-40" autocomplete="off">
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
            <!-- <div ng-messages="userForm.username.$error" role="alert" ng-show="userForm.$invalid">
              <p class="help-block error-text" ng-message="required">Username is required.</p>
            </div> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
            <!-- <div ng-messages="userForm.password.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Password is required.</p>
            </div> -->
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <label class="cr-styled">
              <input type="checkbox" checked>
              <i class="fa"></i> 
              Remember me
            </label>
          </div>
        </div>
        
        <div class="form-group text-right">
          <div class="col-xs-12">
            <button class="btn btn-purple w-md" type="submit">Log In</button>
          </div>
        </div>
        <div class="form-group m-t-30">
          <div class="col-sm-7">
            <a href="/password/forgot"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
          </div>
          <div class="col-sm-5 text-right">
            <a href="/authentication/signup">Create an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
