<div ng-controller="AuthenticationController">  
   <div class="wrapper-page animated fadeInDown">
    <div class="panel panel-color panel-primary">
      <div class="panel-heading"> 
        <h3 class="text-center m-t-10"> Create a new Account </h3>
      </div> 
      <form name="userForm" ng-submit="signup(userForm.$valid)" class="form-horizontal m-t-40" novalidate autocomplete="off">
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="First Name" required>
          </div>
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="Last Name" required>
          </div>
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="credentials.phoneNumber" placeholder="Phone Number" required>
          </div> 
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="text" id="company" name="company" class="form-control" ng-model="credentials.company" placeholder="Organization" required>
          </div>
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
          </div>
        </div>

        <div class="form-group" show-errors>
          <div class="col-xs-12">
            <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          </div>
        </div>

        <div class="form-group ">
          <div class="col-xs-12">
            <label class="cr-styled">
              <input type="checkbox" checked>
              <i class="fa"></i> 
               I accept <strong><a href="#">Terms and Conditions</a></strong>
            </label>
          </div>
        </div>
        
        <div class="form-group text-right">
          <div class="col-xs-12">
            <button class="btn btn-purple w-md" type="submit">Register</button>
          </div>
        </div>

        <div class="form-group m-t-30">
          <div class="col-sm-12 text-center">
            <a href="/authentication/signin">Already have account?</a>
          </div>
        </div>
      </form>                                  
    </div>
  </div>
</div>